<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studybee">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudyBee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingDialog"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppBaseTheme" /> <!-- <activity android:name=".JoinZoomMeeting"></activity> -->
        <!-- <activity android:name=".JoinZoomActivity" /> -->
        <activity android:name=".HostActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".ProfileActivity_2" />
        <activity android:name=".RecordsActivity" />
        <activity android:name=".RecordsActivityPast" />
        <activity android:name=".basicDetails" />
        <activity android:name=".JoinActivity" />
        <activity
            android:name=".Display"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".LobbyActivity"
            android:label="Join Meeting" />
        <activity
            android:name=".ui.InitAuthSDKActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:icon="@drawable/ic_launcher"
            android:label="Zoom test"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.MainWindow" />
        <activity
            android:name=".ui.InitAuthSDKActivityJoin"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:icon="@drawable/ic_launcher"
            android:label="Zoom test"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.MainWindow" />
        <activity
            android:name=".ui.APIUserStartJoinMeetingActivity"
            android:icon="@drawable/ic_launcher"
            android:label="Zoom Test"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginUserStartJoinMeetingActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EmailUserLoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SSOUserLoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherfeatures.scheduleforloginuser.PreMeetingExampleActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherfeatures.scheduleforloginuser.ScheduleMeetingExampleActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherfeatures.MyInviteActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/invite_acitivity_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="us.zoom.sdkexample.intent.action.MeetingInvite" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherfeatures.MyWaitJoinActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow">

            <!--
                            <intent-filter>
                            <action android:name="us.zoom.sdkexample.intent.action.JoinBeforeHost" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".otherfeatures.MyCallMeByPhoneActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow">

            <!--
                            <intent-filter>
                            <action android:name="us.zoom.sdkexample.intent.action.CallMyPhone" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".inmeetingfunction.customizedmeetingui.MyMeetingActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow" />
        <activity
            android:name=".ui.MeetingSettingActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow" />
        <activity
            android:name=".inmeetingfunction.customizedmeetingui.RawDataMeetingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow" />
        <activity android:name=".ui.QAActivity" />
        <activity
            android:name=".ui.BreakoutRoomsAdminActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow" />
        <activity
            android:name=".ui.BoEditActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow" />
        <activity
            android:name=".inmeetingfunction.zoommeetingui.CustomZoomUIActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ZMTheme.SubWindow" />
    </application>

</manifest>